*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', sans-serif, monospace;
    background-color: hsl(354, 100%, 94%);
}
* {
    line-height: 1.5;
    /* outline: 1px solid red; */
}

h1 {
    color: hsl(7, 70%, 56%);
}

a { 
    font-size: 20px;
    line-height: 2;
    margin-top: 0;
    font-weight: bold;
}

li {
    color:rgb(139, 0, 0);
}

ul {
    list-style: none;
}

.recipe-title {
    width: 600px;
    font-size: 40px;
    text-align: center;
    margin: auto;
    height: 700px;
    border-color: palevioletred;
    border-style: ridge;
    background-color: #FFFAFA;
}

.recipe-links{
    text-align: center;
    display: block;
    padding: 10px;
}